<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHEETS API NODEJS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SECTION</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                </div>
            </div>
          </nav><br><br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                ARTICLE SUGESTION
                </div>
                <div class="card-body">
					<form action="" method="POST">
						<div class="form-group">
							<label for="formGroupExampleInput">Article Title</label>
							<input type="text" class="form-control" id="article" name="article" placeholder="Article">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2">Article Author</label>
							<input type="text" class="form-control" id="author" name="author" placeholder="Author">
						</div>
						<br>
						<button type="submit" class="btn btn-primary btn-sm">Submit</button>
					</form>
                </div>
              </div>
        </div>
    </body>
    </html>
